<cds-header [name]="title" [route]="['']">
      <cds-hamburger
      *ngIf="hasHamburger"
      [active]="active"
      (selected)="active = !active"
    ></cds-hamburger>
    <cds-header-navigation>
      <cds-header-item [route]="['noticias']" RouterLinkActive="activebutton" ariaCurrentWhenActive="page">Noticias</cds-header-item>
      <cds-header-item [route]="['productos']">Productos</cds-header-item>
    </cds-header-navigation>
    <cds-header-global>
      <cds-header-action description="Notification">
        <svg cdsIcon="notification" size="20"></svg>
      </cds-header-action>
      <cds-header-action description="userAccount"  routerLinkActive="activebutton" ariaCurrentWhenActive="page" (click)="">
        <svg cdsIcon="user--avatar" size="20"></svg>
      </cds-header-action>
    </cds-header-global>
</cds-header>

<main class="bx--content">
	<router-outlet></router-outlet>
</main>
